.account-container {
  padding: 1rem;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.account-form {
  width: 100%;
  padding: 1rem;
  width: 650px;
}

.account-input-width {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .account-container {
    padding: 1rem;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .account-form {
    width: 100%;
    padding: 1rem;
  }
  
  .account-input-width {
    width: 100%;
  }
}