.admin-product-row {
    box-shadow: 5px 5px 10px rgb(0,0,0,0.7);
    margin: 1rem;
    padding: 1rem;
}

.product-price {
    width: 5rem;
}

.admin-product-button {
    width: 5rem;
    color: white;
    background-color: black;
    margin: .5rem 0rem;
}

.product-id {
    width: 5rem;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.page-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.sort-list {
    margin-left: 2rem;
}

.product-weight {
    width: 5rem;
}

.admin-input-width {
    width: 35rem;
}