

.confirm {
    background-color: green;
    font-weight: bold;
    padding: 0rem .5rem;
}

.product-id {
  width: 17rem;
  background-color: black;
  color: white
}

.not-confirm {
    background-color: red;
    font-weight: bold;
    padding: 0rem .5rem;
}

.single-order-list {
    margin-right: 1rem;
}

.admin-form-container {
  margin: .5rem 0rem;
  width: 800px;
  padding: .5rem;
}

.admin-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: .1rem;
    font-size: 1rem;
}

.admin-input-width {
    width: 20rem;
    background-color: white;
    border: 1px solid black;
}

.admin-button {
    background-color: var(--button);
    color: black;
    font-size: .7rem;
    font-weight: bold;
    margin: .2rem;
}

@media screen and (max-width: 850px) {
  .admin-form-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
    .admin-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .admin-input-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: .1rem;
        font-size: 1rem;
    }

    .admin-form-container {
      width: 100%;
    }
    
    .admin-input-width {
        width: 20rem;
        background-color: white;
    }
    
    .admin-button {
        background-color: var(--button);
        color: black;
        font-size: .7rem;
        font-weight: bold;
    }
}



@media screen and (max-width: 550px) {
    .admin-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .admin-input-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: .1rem;
        font-size: .7rem;
    }

    .admin-input-width {
        width: 13rem;
        background-color: white;
    }

    .admin-button {
        background-color: var(--button);
        color: black;
        font-size: .7rem;
        font-weight: bold;
    }

    .product-id {
      width: 15rem;
      font-size: .8rem;
    }
}