:root {
  --primary: #FAEBE0;
  --secondary: #C9E4C5;
  --tertiary: #B5CDA3;
  --quaternary: #C1AC95;
  --light-font: #454545;
  --highlight: #2a2a2c;
}

html {
  background: var(--primary);
}

.display-flex-center-all {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.border-round {
  border-radius: 15px;
}

.padding-1rem {
  padding: 1rem;
}

.font-size-12px {
  font-size: 13px;
}

.bold-font {
  font-weight: bold;
}

.padding-bottom-1rem {
  padding-bottom: 1rem;
}

.page {
  width: 100vw;
  background-color: var(--primary);
  color: var(--light-font);
  font-size: 12px !important;
}

/* HEADER */

.header-desktop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.header-desktop-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-desktop-link {
  padding-right: 1rem;
}

.header-promo {
  display: flex;
  justify-content: center;
  padding: .25rem;
}

.highlight {
  background-color: var(--highlight);
  color: var(--primary);
}

.header-mobile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-mobile-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgb(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  animation: modalShow 1s forwards;
  opacity: 0%;
}

@keyframes modalShow {
  from {
    opacity: 0%
  }
  to {
    opacity: 100%
  }
}

.header-mobile-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: var(--primary);
  width: 35rem;
  height: 100vh;
  animation: modalSlide 1s forwards;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 2rem;
}

@keyframes modalSlide {
  from {
    opacity: 100%;
    transform: translateX(50vw);
  }
  to {
    opacity: 100%;
    margin-left: 3rem;
  }
}

.header-mobile-link {
  margin-bottom: 1rem;
}

.close-icon {
  position: absolute;
  right: 1rem;
  top: 2rem;
  font-size: 1.5rem;
}

/* HOME-PAGE */

.home-desktop-banner {
  width: 90%;
  object-fit: contain;
  border-radius: 25px;
}

.homepage-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-size {
  font-size: 1rem !important;
}

/* PRODUCTS */

.products-desktop-container {
  display: flex;
  flex-direction: row;
}

.categories-desktop-container {
  padding-right: 1rem;
  border-right: 1px solid rgb(0,0,0,0.5);
  margin-right: 1rem;
}

.category-item {
  padding: .5rem 0;
}

.products-desktop-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-desktop-card {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--secondary);
  border-radius: 15px;
  width: 20rem;
}

.product-desktop-picture {
  margin: 0 1rem;
  width: 100%;
  object-fit: fill;
}

.products-desktop-description {
  margin: 1rem 0;
}

.products-desktop-description div:nth-child(2) {
  color: var(--quaternary);
  font-weight: bold;
}

.product-desktop-view {
  display: flex;
  flex-direction: row;
}

.product-desktop-view-details {
  display: flex;
  flex-direction: column;
}

.product-desktop-view > div {
  padding: 2rem;
}

.product-desktop-image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-desktop-image-container i {
  font-size: 2rem;
  padding: 1rem;
}

.product-desktop-picture-full {
  width: 90%;
  object-fit: contain;
}

@media screen and (max-width: 600px) {

  .page {
    font-size: 11px !important;
  }

  .header-desktop-container {
    display: none;
  }

  .header-mobile-container {
    display: flex;
  }

  .header-mobile-links {
    width: 70vw;
  }
}