.header-container {
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0rem;
    width: 100%;
    z-index: 15;
    height: 6rem;
    color: black;
}

.cart-link {
  font-size: 1.5rem;
  margin: 1.5rem;
}

.header-main-promo {
  background-color: black;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  padding: .2rem;
  z-index: 16;
  top: 0;
  left: 0;
}

.night-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
}

.night-mode {
    display: none;
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

.header-link {
    text-decoration: none;
    padding: .5rem;
    margin: 1rem;
    color: black;
}

.header-link:hover {
    background-color: white;
    color: black;
}

.headerActive {
    background-color: white;
    color: black;
}

.header-icon {
    margin: 1rem;
}

.logo-name {
    font-size: 2rem;
}

.header-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#check, .mobile-icon {
    display: none;
}

#window-cart {
  display: none;
}

.window-cart-container {
  display: flex;
  position: fixed;
  top: 5rem;
  right: -100%;
  opacity: 0;
  height: 91%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255,255,255,0);
  transition: opacity 2s linear;
  transition: background-color .7s ease-in-out;
}

.cart-icon {
  background-color: white;
  padding: .5rem 1rem;
  opacity: 1;
  border-radius: 50%;
  font-size: 3rem;
  position: absolute;
  top: 10%;
  left: 16%;
  box-shadow: 5px 5px 10px rgb(0,0,0,.5);
  background-color: lightblue;
}

#window-cart:checked ~ .window-cart-container {
  background-color: rgb(255,255,255,0.7);
  right: 0;
  opacity: 1;
  transition: opacity 2s linear;
  transition: background-color .7s ease-in-out;
}

.window-cart-content {
  background-color: white;
  height: 80%;
  width: 70%;
  box-shadow: 10px 10px 25px rgb(0,0,0,0.7);
  padding: 1rem;
}

.border {
  border: .7rem solid black;
  height: 100%;
  width: 100%;
  padding: 3rem;
}

@media screen and (max-width: 1100px) {

  .window-cart-container {
    display: none;
  }

  .window-cart-content {
    display: none;
  }

  .header-links-container {
      display: flex;
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 15;
    }

    .cart-link {
      display: none;
    }

    .header-items {
        flex-direction: column;
    }

    #check:checked ~ .drop-down {
        border: 3px solid white;
    }

    .links {
        display: none;
        background-color: var(--light-gray);
        flex-direction: column;
        width: 100%;
        position: relative;
        right: 0;
        color: white;
        z-index: 15;
    }

    .links-public {
        display: none;
    }

    #check {
        display: none;
    }

    .icons {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: white;
    }

    .header-link {
        color: black;
    }

    #check:checked ~ .links {
        display: flex;
    }

    .mobile-icon {
        font-size: 1.3rem;
        padding: 1rem;
        display: flex;
    }

    .header-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    
    .night-mode {
        display: flex;
    }

    .night-header-display {
        display: none;
    }

    .night-left-display {
        position: fixed;
        left: 1rem;
        top: 2rem;
    }

    .night-right-display {
        position: fixed;
        right: 1rem;
        top: 2rem;
    }

    .logo-name {
        font-size: 1.5rem;
    }


    .mobile-header-toggle {
        position: static;
        right: 0;
        height: 2.5rem;
        color: black;
    }

    #mobile-header-check {
        display: none;
    }

    .header-container {
      padding-top: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .header-link {
        margin: .25rem;
    }
}