.header-container {
    background-color: var(--primary);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.night-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
}

.night-mode {
    display: none;
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-link {
    text-decoration: none;
    padding: .5rem;
    margin: 1rem;
    color: white;
}

.header-link:hover {
    background-color: white;
    color: black;
}

.headerActive {
    background-color: white;
    color: black;
}

.header-icon {
    margin: 1rem;
}

.logo-name {
    font-size: 2rem;
}

.header-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#check, .mobile-icon {
    display: none;
}

@media screen and (max-width: 1100px) {
    .header-links-container {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
    }

    .header-items {
        flex-direction: column;
    }

    #check:checked ~ .drop-down {
        border: 3px solid white;
    }

    .links {
        display: none;
        background-color: var(--light-blue);
        flex-direction: column;
        width: 100%;
        position: relative;
        right: 0;
        color: white;
    }

    .links-public {
        display: none;
    }

    #check {
        display: none;
    }

    .icons {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: black;
    }

    .header-link {
        color: black;
    }

    #check:checked ~ .links {
        display: flex;
    }

    .mobile-icon {
        font-size: 2rem;
        padding: 1rem;
        display: flex;
    }

    .header-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    
    .night-mode {
        display: flex;
    }

    .night-header-display {
        display: none;
    }

    .night-left-display {
        position: fixed;
        left: 1rem;
        top: .5rem;
    }

    .night-right-display {
        position: fixed;
        right: 1rem;
        top: .5rem;
    }

    .logo-name {
        font-size: 1.5rem;
    }


    .mobile-header-toggle {
        position: static;
        right: 0;
        height: 2.5rem;
        color: black;
    }

    #mobile-header-check {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .header-link {
        margin: .5rem;
    }
}