.mobile-component {
  display: none;
  flex-direction: column;
  width: 0rem;
  position: fixed;
  /* right: -30rem; */
  right: 0;
  top: 0rem;
  z-index: 10;
  height: 100%;
  transition: width 2s ease-in;

  background-color: white;
}

.mobile-cart-product-img {
  height: 5rem;
  width: 7rem;
}

#mobile-cart {
  display: none;
}

.checkout-display-container {
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1rem solid black;
  transition: all .7s ease-in-out;
}

#mobile-checkout-display {
  display: none;
}

#mobile-checkout-display:checked ~ .checkout-display-container {
  right: 0rem;
  transition: all .7s ease-in-out;
}

.checkout-display-content {
  height: 90%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-x-icon {
  color: black;
  font-size: 2rem;
  margin: 1rem;
}

.payment-container {
  width: 100%;
}

.payment-button {
  background-color: red;
  padding: 1rem 2rem;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

@media screen and (max-width: 1093px) {

  .mobile-cart-container {
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }


  .mobile-component {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4.5rem;
    z-index: 10;
    height: 83%;
    transition: right .7s ease-in;
    width: 85%;
    right: -85%;
    box-shadow: 0px 0px 0px rgb(0,0,0,0.5);
  }

  #mobile-cart:checked ~ .mobile-component {
    display: flex;
    right: 0rem;
    box-shadow: -10px 0px 15px rgb(0,0,0,0.5);
  }

  .mobile-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-cart-checkout-container {
    display: flex;
    flex-direction: column;
  }

  .checkout-button {
    background-color: var(--button);
    text-align: center;
    padding: 1rem;
    color: black;
  }

  .checkout-disclaimer {
    text-align: center;
    padding: 1rem;
  }

  .mobile-cart-product-row {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: relative;
  }

  .mobile-cart-product-img {
    height: 5rem;
    width: 7rem;
  }

  .mobile-cart-product-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: .4rem;
    padding: 0rem .5rem;
    font-size: .7rem;
    justify-content: space-between;
  }

  .mobile-cart-remove-button {
    background-color: var(--button);
    font-size: .7rem;
    width: 4rem;
    padding: .3rem;
  }

  .mobile-cart-quantity-input {
    width: 4rem;
  }

  .mobile-cart-quantity {

  }

  .mobile-cart-update {
    background-color: var(--button);
    padding: .5rem;
    font-size: .7rem;
    width: 4rem;
    margin: .5rem 0rem;
  }

  .checkout-button:hover {
    background-color: red;
    color: white;
    font-weight: bold;
  }
}

@media screen and (max-width: 400px) {
  .mobile-cart-product-img {
    height: 4rem;
    width: 4rem;
  }
}