.product-slide-container {
  height: 18rem;
  max-width: 1000px;
  width: 90%;
  margin-top: 2rem;
}

.product-slider {
  display: flex;
  overflow-x: scroll;
  overflow-y: auto;  height: 18rem;
  scroll-snap-type: x mandatory;
}

.product-slide-info span {
  font-size: .7rem;
}

.product-slide-img {
  width: 20rem;
  height: 12rem;
  flex: 0 0 auto;
  margin-right: 1rem;
  object-fit: cover;
}

.product-slide-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.product-slide-img-container {
  scroll-snap-align: start;
}

.product-slide-info {
  font-size: .8rem;
}

.font-mobile {
  font-size: .8rem;
}