/* PRODUCT CARD */

.product-card {
  background-color: white;
  margin: 0rem .5rem 1rem 0.5rem;
  display: grid;
  grid-template-rows: auto;
  position: relative;
}

.product-card:hover {
  box-shadow: 10px 10px 25px rgb(0,0,0,0.8);
  padding: .5rem;
  background-color: rgb(255, 255, 196);
}

.product-cart div {
  height: 100%;
  width: 100%;
}

.display-none {
  display:none;
}

.product-card-picture {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.products-card-display {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-gap: .5rem;
}

.product-card-description {
  padding: .5rem 0rem;;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 8rem;
  position: relative;
  grid-row: 2;
}

.out-stock-cover {
  position: absolute;
  top: 0;
  background-color: rgb(0,0,0,0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.blue-font {
  color: rgb(76, 76, 250);
  font-weight: bold;
}

.nav-product-buttons {
  display: none;
  flex-direction: column;
  position: fixed;
  right: 1rem;
  top: 50vh;
  z-index: 30;
}

.top-button {
  font-size: 3rem;
}

.category-button {
  transform: rotate(270deg);
  position: absolute;
  bottom: -6rem;
  background-color: black;
  color: white;
  padding: .5rem;
  text-align: center;
  letter-spacing: 3px;
  animation: glowButton 7s infinite;
}

@keyframes glowButton {
  0% {
    background-color: black;
    color: white;
  }
  50% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: black;
    color: white;
  }
}



.product-page-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2rem;
}

.product-full-categories-panel {
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
  width: 20rem;
  top: 6rem;
  position: sticky;
  height: 35rem;
}

.categories-links {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  width: 10rem;
  padding: .5rem .5rem;
  position: relative;
}

.link-hover:hover {
  background-color: rgb(232, 232, 232);
}

.categories-links b {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.categoryActive {
  background-color: rgb(191, 191, 191);
  font-weight: bold;
}

.quantity-section {
  position: relative;
  bottom: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-card-font {
  display: flex;
  flex-direction: column;
  font-size: .7rem;
}

.quantity-button-container > span {
  font-size: .7rem;
}

.font-red {
  color: red;
}

.font-strike {
  text-decoration: line-through;
}

.quantity-product-input {
  width: 5rem;
}

.onclick-container {
  height: 100%;
  width: 100%;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}

.product-button {
  background-color: rgb(186, 186, 8);
  color: black;
  margin-top: 1rem;
  padding: .5rem;
  text-align: center;
}

.single-product-modal-container {
  position: fixed;
  top: 0rem;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: 20;
  animation: singleProduct 1s forwards;
  animation-timing-function: cubic-bezier(.56,.07,.55,1);
  animation-iteration-count: 1;
  animation-direction: normal;
  display: flex;
  justify-content: center;
  background-color: rgb(0,0,0,0.7);
  z-index: 999;
}

@keyframes singleProduct {
  from {
    transform: translateX(-100vw)
  }
  to {
    transform: translateX(0vw);
  }
}

.product-button:hover {
  background-color: rgb(72, 72, 72);
  font-weight: bold;
}

.productHeader-container {
  background-color: white;
  width: 100%;
  position: relative;
  top: -0rem;
  margin-top: 3rem;
  color: black;
}

.product-header-link {
  text-decoration: none;
  padding: .75rem;
}

.single-product-container {
  box-shadow: 15px 15px 20px rgb(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  position: sticky;
  background-color: white;
  max-height: 90vh;
  height: 90vh;
  width: 90vw;
  position: relative;
  z-index: 999;
  margin-top: 2rem;
  scroll-snap-type: x mandatory;
}

.single-product-img {
  height: auto;
  object-fit: cover;
  scroll-snap-align: start;
  margin: 0 .5rem;
}

.single-product-img-container {
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-content {
  margin: 2rem;
  padding-bottom: 8rem;
}

.single-product-details {
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.single-product-details span {
  font-size: .8rem;
}

@media screen and (max-width: 1120px) {
  .single-product-details {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .single-product-container {
    margin-top: 0rem;
  }

  .productHeader-container {
    background-color: white;
    width: 100%;
  }

  .single-product-modal-container {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .products-card-display {
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (max-width: 720px) {
  .product-button {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .out-stock-cover {
    font-size: .8rem;
    height: 10rem;
    width: 9.1rem;
  }

  .nav-product-buttons {
    display: flex;
    align-items: center;
  }
  
  .product-full-categories-panel {
    display: none;
  }

  .quantity-section {
    font-size: .6rem;
    bottom: rem;
  }

  .single-product-details > span {
    font-size: .7rem;
  }

  .product-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    box-shadow: none;
    border: 1px solid gray;
    padding: .2rem;
  }

  .product-card-font {
    font-size: .6rem;
    display: flex;
    flex-direction: column;
  }

  .product-content {
    margin: 0rem;
  }

  .product-card-picture {
    width: 9rem;
    height: 95%;
    margin-left: .3rem;
  }

  .product-card-description {
    flex-direction: column;
    width: 100%;
    padding: .2rem .2rem .2rem .7rem;
    line-height: .8rem;
    align-content: normal;
    height: 100%;
  }

  .product-button {
    font-size: .6rem;
    width: 8rem;
  }

  .product-header-link {
    font-size: .8rem;
  }

  .productHeader-container {
    margin-top: 3rem;
    font-weight: bold;
  }

  .product-card-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .mobile-header-toggle {
    position: static;
    right: 0;
    height: 2.5rem;
    color: black;
  }

  #mobile-header-check {
    display: none;
  }

  #mobile-header-check ~ .links {
    display: none;
  }

  .single-product-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .single-product-container {
    margin: 0rem;
    justify-content: initial;
    align-items: initial;
  }

  .single-product-page {
    align-items: initial;
    height: 100%;
  }

  .single-product-img-container {
    display: flex;
    justify-content: center;
  }

  .products-card-display {
    grid-template-columns: 50% 50%;
  }

}

@media screen and (max-width: 500px) {
  .products-card-display {
    grid-template-columns: 100%;
  }

}