.categories-container {
  width: 100%;
  text-align: center;
  display: none;
  justify-content: center;
  position: relative;
  z-index: 0;
  top: 0rem;
}

.product-header-container {
  display: none;
}

@media screen and (max-width: 650px) {
  .categories-container {
    display: flex;
    margin-bottom: 2rem;
    position: sticky;
  }

  .product-header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 6rem;
    z-index: 15;
    animation: rightLeft 1s forwards;
    animation-timing-function: var(--cubic);
    animation-direction: normal;
    background-color: rgb(78, 78, 164);
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    line-height: 1.5rem;
  }

  @keyframes rightLeft {
    from {
      transform: translateX(100vw);
    }
    to {
      transform: translateX(0vw);
    }
  }

  .product-header-link {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .product-header-link:hover {
    background-color: rgb(194, 194, 194);
    width: 100%;
    text-align: center;
  }
}