.product-slide-container {
  height: 100%;
  max-width: 1000px;
  width: 90%;
  margin-top: 1rem;
}

.product-slider {
  display: flex;
  overflow-x: scroll;
  overflow-y: auto;  
  height: 100%;
  scroll-snap-type: x mandatory;
  position: relative;
}

.single-product-center {
  justify-content: center;
}

.product-slide-info span {
  font-size: .7rem;
}

.product-slide-img {
  height: 90%;
  flex: 0 0 auto;
  margin-right: 1rem;
  object-fit: contain;
}

.product-slide-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.product-slide-img-container {
  scroll-snap-align: start;
  height: 85%;
}

.product-slide-info {
  font-size: .8rem;
}

.font-mobile {
  font-size: .8rem;
}