.promo-banner-slider-container {
  width: 100vw;
  max-width: 1000px;
  overflow-x: scroll;
  overflow-y: auto;
  flex: 0 0 auto;
  display: flex;
}

.slider-container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.promo-banner {
  height: 25rem;
  margin-right: 1rem;
}


@media screen and (max-width: 560px) {
  .promo-banner-slider-container {
    overflow-x:initial;
    flex-direction: column;
  }

  .promo-banner {
    margin-right: 0rem;
    margin: 1rem;
    border: 1px solid black;
    height: 50vh;
    width: auto;
    object-fit: contain;
  }
}