.promo-slider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.promo-banner-slider-container {
  height: 70%;
  width: 60%;
  overflow-x: scroll;
  overflow-y: auto;
  display: flex;
}

.promo-banner {
  height: 100%;
  width: 100%;
}

.promo-close-icon {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 8rem;
  left: 8rem;
}


@media screen and (max-width: 560px) {
  .promo-banner-slider-container {
    overflow-x:initial;
    flex-direction: column;
  }

  .promo-banner {
    margin-right: 0rem;
    margin: 1rem;
    border: 1px solid black;
    height: 50vh;
    width: auto;
    object-fit: contain;
  }
}