
.random-product-container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.random-product-slider {
  width: 100vw;
  max-width: 1200px;
  overflow-x: scroll;
  overflow-y: auto;
  flex: 0 0 auto;
  display: flex;
  scroll-snap-type: x mandatory;
}

.carousel-img-container {
  scroll-snap-align: start;
}