.carousel-img {
  height: 20rem;
  object-fit: cover;
}

.carousel-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 25rem;
}

.carousel-img-title {
  position: absolute;
  padding: .5rem 3rem;
  bottom: 2rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 0rem;
  background-color: white;
  box-shadow: 10px 10px 25px rgb(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}