.carousel-img {
  height: 20rem;
  width: 30rem;
  object-fit: cover;
}

.carousel-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 25rem;
}

.carousel-img-title {
  position: absolute;
  padding: 1.5rem;
  bottom: 4rem;
  color: black;
  font-size: .9rem;
  font-weight: bold;
  line-height: 1rem;
  background-color: white;
  box-shadow: 10px 10px 25px rgb(0,0,0,0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  z-index: 2;
  height: 5rem;
}