/* PAST ORDERS */

.past-orders-section {
  margin-top: 5rem;
  font-size: .8rem;
  padding: 1rem;
}

.past-orders-container {
  height: auto;
  width: 100%;
  padding: 1rem;
  margin: 7rem 0;
  font-size: .8rem;
}

.past-orders-section > div > div {
  margin: 1rem 0;
  border: 1px solid rgb(0,0,0,0.3);
  padding: 1rem;
}

.past-orders-item {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}

.past-orders-item div {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  width: 100%;
}

.past-orders-item > div:nth-child(2n) {
  background-color: rgb(255, 255, 148);
}

/* CHECKOUT CART DETAILS */

.checkout-cart-details {
  background-color: lightgrey;
  padding: 1rem;
  margin-top: 1rem;
  width: 500px;
}

.checkout-cart-details > div {
  font-size: .8rem;
  display: grid;
  grid-template-columns: 60% 15% 25%;
  width: 100%;
  border: 1px solid grey;
}

.checkout-cart-details > div:nth-child(2n) {
  background-color: rgb(254, 254, 212);
}

.checkout-cart-details > h1 {
  font-size: 1rem;
  font-weight: bold;
}

.checkout-cart-details > span {
  font-size: 1rem;
}

.window-cart-checkout-container {
  height: 100%;
  margin-top: 2rem;
}

/* MORE INFO CONTAINER */

.more-info-container {
  background-color: lightgrey;
  height: auto;
  width: 100%;
  padding: 1rem;
  margin: 4rem 0;
  font-size: .8rem;
}

.more-info-content div:nth-child(1) {
  display: grid;
  grid-template-columns: 4rem auto;
}

.more-info-content div:nth-child(2) {
  display: flex;
  flex-direction: column;
}


.more-info-content div:nth-child(3) {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.more-info-content b {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* EMPTY CART DISPLAY */

.empty-cart-display {
  height: 100%;
  width: 100%;
}

.empty-cart-slide {
  height: 15rem;
  width: 100%;
}

.checkout-order-submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.empty-cart-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.empty-cart-content > h1 {
  font-size: 1.5rem;
  font-weight: bold;
}


.empty-fish {
  height: 10rem;
  width: 10rem;
  animation: fishMove 3s infinite;
  animation-direction: normal;
  animation-timing-function: var(--cubic);
  animation-play-state: running;
}

@keyframes fishMove {
  from {
    transform: translateX(-50vw)
  }
  to {
    transform: translateX(90vw);
  }
}

.window-cart-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mobile-cart-quantity {
  font-size: .7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-cart-quantity div:nth-child(1) {
  font-weight: bold;
}

.quantity-counter {
  display: flex;
  flex-direction: row;
}

.quantity-counter div {
  font-size: 1rem;
  padding: .25rem;
  margin-top: .5rem;
}

.quantity-counter div:nth-child(1) {
  background-color: rgb(148, 148, 148);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.quantity-counter div:nth-child(3) {
  background-color: rgb(148, 148, 148);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.quantity-counter div:nth-child(1):hover {
  background-color: rgb(87, 87, 87);
}

.quantity-counter div:nth-child(3):hover {
  background-color: rgb(87, 87, 87);
}

.quantity-counter div:nth-child(2) {
  border: 1px solid grey;
  padding: .25rem 1rem;
}

.mobile-cart-quantity-input {
  width: 5rem;
}

.cart-item-img-details {
  display: flex;
  flex-direction: row;
}

.window-cart-content {
  background-color: white;
  width: 100vw;
  max-width: 1200px;
  box-shadow: 10px 10px 25px rgb(0,0,0,0.7);
  z-index: 30;
  margin: 5rem 0;
  padding: 2rem;
}

.past-orders-button {
  font-weight: bold;
  background-color: yellow;
  padding: .5rem;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
}

.past-orders-button:hover {
  background-color: rgb(252, 201, 107);
}

.window-cart-product-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid gray;
  padding: .2rem;
  margin: .2rem;
  position: relative;
}

.window-cart-product-img {
  height: 100%;
  width: 4rem;
  margin-right: .5rem;

}

.window-cart-product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.window-cart-product-text {
  line-height: .75rem;
  padding: .2rem;
  font-size: .7rem;
}

.mobile-cart-remove-button {
  background-color: var(--button);
  text-align: center;
  color: black;
  font-weight: bold;
  width: 8rem;
  font-size: .8rem;
}

.checkout-button {
  background-color: var(--button);
  text-align: center;
  font-weight: bold;
  padding: .5rem;
  width: 15rem;
  text-decoration: none;
  margin-top: 1rem;
}

.mobile-cart-update {
  background-color: var(--button);
  text-align: center;
}

.window-display-container {
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1rem solid black;
  transition: all .7s ease-in-out;
}

.checkout-button:hover {
  background-color: rgb(255, 180, 42);
}

.checkout-disclaimer {
  text-align: center;
  padding: 1rem;
}

.refresh-cart-button {
  position: absolute;
  right: 1rem;
  background-color:firebrick;
  padding: 1rem;
  font-weight: bold;
  top: 2rem;
}

.checkout-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  animation: singleProduct 1.3s forwards;
  animation-timing-function: cubic-bezier(.56,.07,.55,1);
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes singleProduct {
  from {
    transform: translateX(-100vw)
  }
  to {
    transform: translateX(0vw);
  }
}

.window-cart-column {
  position: relative;
  padding-top: 2rem;
}

.total-text {
  right: 0rem;
  font-size: 1rem;
  top: -1.5rem;
  font-weight: bold;
  position: absolute;
}

.checkout-display-content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.checkout-buttons-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.checkout-buttons-row div {
  background-color: var(--button);
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.checkout-details-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 500px;
}

.checkout-details-container input, textarea {
  margin: .25rem 0;
  border-radius: 5px;
  padding: .5rem;
  border: 1px solid black;
}

.payment-container {
  display: flex;
  flex-direction: column;
}

.payment-button {
  padding: .5rem;
  background-color: black;
  color: white;
  margin-bottom: .5rem;
  width: 100%;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .mobile-cart-remove-button {
    width: 5rem;
    font-size: .8rem;
    font-weight: normal;
  }

  .mobile-cart-product-img {
    height: 4rem;
    width: 4rem;
  }

  .checkout-details-container {
    width: 95%;
  }

  .cart-item-img-details {
    display: flex;
    flex-direction: row;
  }
}